h1, h2, h4, h5, h7 {
    font-family: adriane, serif;
    color: #575757;
}

h3, p, li, th, td {
    font-family: avenir, san-serif;
    color: #575757;
    letter-spacing: normal;
}

p {
    line-height: 2;
    font-size: 16px;
}

th, td {
    font-size: 14px;
}

li {
    font-size: 16px;
    font-weight: 300;
}

header ul {
    float: right;
    margin-bottom: 0;
}

header li {
    list-style: none;
    display: inline-block;
    margin: 16px 30px 0 30px;
    padding-bottom: 8px;
}

.logo {
    max-height: 52px;
    max-width: 33px;
    display: inline-block;
    margin-left: -4px;
    padding-top: 4px;
}

header {
  padding: 6px 0;
  background: #F2F6F8;
  opacity: 0.9;
  color: #575757;
  top: 0; 
  position: fixed;
  width: 100%;
  z-index: 2;
}

.project-header {
  background: #FFF;
    
}

body {
    margin-top: 40px;
}

h1 {
    font-size: 64px;
    
}

h3 {
    font-size: 20px;
    letter-spacing: normal;
    
}

h4 {
    font-size: 24px;
    font-weight: 100;
    line-height: 1.6em;
    font-weight: 300; 
    line-height: 1.8em;
    
}

h5 {
    font-size: 20px;
    line-height: 1.9em;
    margin-bottom: 0;
}

h6 {
    font-family: Avenir;
    font-size: 14px;
    letter-spacing: 2px;
    font-style: bold;
    color: #909496;
    margin-bottom: 4px;
    text-transform: uppercase;
    
}

#bg-color {
    background-color: #F2F6F8;
    padding-bottom: 5%
    
}

.project_thumbnails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project_thumbnails img {
    max-width: 305px;
    height: 305px;
    margin-bottom: 20px;
}

/* -------------- Project pages ---------------------------------------------------------------------------------- */

/* DROPDOWN PROJECTS HOVER BUTTON */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 160px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 10;
    font-family: avenir, sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    z-index: 11;
}

.dropdown-content a:hover {background-color: #FFF;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-button li {border-bottom: 2px solid #000;}

#project-content {
    margin-top: 10%;
}

#project-content .row:nth-child(n+2) {
    margin: 5% 0;   
}

/* make images width of column */

#project-content img {
    width: 
}

#project-summary {
    height: 57vh;
}

.roles-summary div {
    display: inline-block;
}

.roles-summary p {
    margin-bottom: 8px;
    line-height: 1.6em;
}

.roles {
    vertical-align: top;
}

.roles p {
    color: #AFAFAF;
    vertical-align: top;
}

.summary p {
    font-family: adriane, serif;
    margin-left: 20px;
}

.project-header {
    color: #EFF0F0;
    opacity: .9;
}

#projects-bg-color {
    padding-bottom: 0;
    background-color: #EFF0F0;
}

h4 {
    margin-bottom: 12px;
}


.container #bottom-nav {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 0px 24px;
    border: 1px solid #D8D8D8; 
    border-radius: 0;
    font-family: avenir, sans-serif;
    text-transform: none;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: normal;
    background-color: #FFF;
}

button img {
    margin-right: 10px;
}

#footer {
    margin-top: 10%;
}

#project-bg {
    overflow: visible;
    margin-left: -85%;
    width: 48vw;
}

/* Jupyter */

#jupyter-project-bg {
    overflow: visible;
    margin-left: -85%;
    width: 40vw;
}

/* PolyCare */

#polycare-project-bg {
    overflow: visible;
    margin-left: -55%;
    width: 36vw;
}

/* Graphic Arts */

#graphicarts-project-bg {
    overflow: visible;
    margin-left: -55%;
    margin-top: -20%;
    width: 30vw;
}

/* -------------- ABOUT page ---------------------------------------------------------------------------------- */
.about {
    background-image: url(images/about.JPG);
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: right 180px;
    background-color: #F2F6F8; 
}

.download-resume {
   margin-top: 32px; 
}

.downarrow {
    width: 16rem;
    margin: 10% auto;
}
.downarrow img{
    display: block;
    margin: 8px auto;
}

.icons ul li {
    display: inline-block;
    margin: 0px 20px 0px 0px ;
    font-size: 24px;
}

.icons a {
    color: #575757;
}

a {
    text-decoration: none;
}

/* -------------------------------                      -----------LET'S GO MOBILEEEEE */

@media only screen and (max-width: 600px) {

/* HOME SCREEN */
    
    #myHeader ul li {
        display: inline-block;
        margin: 14px 12px 8px
    }
    
    .logo {
        height: 40px;
    }
    
    #myHeader ul {
        margin: 0;
        float:
    }
    
    #firstSection {
        margin-top: 10%;
    }
    
/* PROJECT SCREEN */
    
    #project-summary {
        margin-top: 15%;
    }
    
    .roles-summary p {
        font-size: 12px
    }
    
    #project-bg, #polycare-project-bg, #graphicarts-project-bg {
        display: block;
        margin-left: -10%;
        margin-top: -5%;
        width: 100vw
    }
    
    #jupyter-project-bg {
        display: block;
        margin-left: 0;
        margin-top: -8%;
        width: 80vw; 
    }
    
/* ABOUT SCREEN */
    
.about {
    background-image: url(images/about.JPG);
    background-repeat: no-repeat;
    background-size: 70vh;
    background-position: right 0px;
    background-color: #F2F6F8;
    padding-top: 80%;
}
    
    .downarrow {
        display: none;
    }

    
}

/* Jquery sticker header */

<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>


